* {
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", sans-serif;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #bdabcf;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
}

#overlay.showing {
    display: flex;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    z-index: 10000;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: #202020;
    user-select: none;
}

#operation-space {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#drawing-canvas-container {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#drawing-canvas {
    width: 400px;
    aspect-ratio: 1.0;
    border: 2px solid black;
    margin-top: 20px;
    display: block;
    border-radius: 20px;
    position: relative;
    touch-action: none;
}

#tool-bar {
    position: absolute;
    right: 100%;
    width: fit-content;
    top: 0;
    margin-right: 20px;
}

#undo-bar {
    position: absolute;
    left: 100%;
    width: fit-content;
    top: 0;
    margin-left: 20px;
}

.tool-button {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #ffffffaa;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 5px #00000055;
}

.tool-button:hover {
    transform: scale(1.1);
}

.tool-button.selected-tool {
    background-color: #80669b;
}

.tool-button.selected-tool img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(1926%) hue-rotate(234deg) brightness(114%) contrast(78%);
}

.tool-button img {
    width: 35px;
    filter: brightness(0) saturate(100%) invert(47%) sepia(7%) saturate(2134%) hue-rotate(227deg) brightness(90%) contrast(89%);
}

#color-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(2%) hue-rotate(92deg) brightness(104%) contrast(101%);
}

#color-picker {
    position: absolute;
    top: 0;
    width: 55px;
    height: 55px;
    opacity: 0;
    z-index: 10;
    user-select: none;
}

button {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    color: #bdabcf;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    box-shadow: 0 5px #00000011;
    transform: translateY(4px);
}

#frame-list-container {
    max-width: 50%;
    min-width: 400px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#gradient-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, #bdabcf, #00000000);
    z-index: 10;
    opacity: 0;
    transition: opacity 200ms ease;
}

#gradient-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #bdabcf, #00000000);
    z-index: 10;
    opacity: 0;
    transition: opacity 200ms ease;
}

#frame-list {
    max-width: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;

    user-select: none;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;

    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#frame-list::-webkit-scrollbar {
    display: none;
}

#frames {
    width: fit-content;
    flex-shrink: 0;
    display: flex;
}

#add-frame,
#import-frame {
    border-radius: 10px;
    background-color: #ffffffaa;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    aspect-ratio: 1.0;
    padding: 0px;
    height: 82px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#add-frame img {
    filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(1645%) hue-rotate(215deg) brightness(101%) contrast(92%);
}

#add-frame:active,
#import-frame:active {
    background-color: #ffffff77;
    transform: scale(0.9);
}

.preview-frame {
    display: inline-block;
    position: relative;
    border-radius: 15px;

    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: white;

    border-width: 0px;
    padding: 7px;
    background-clip: padding-box;

    touch-action: pan-x;
    transition: transform 150ms ease;

    transform: scale(1.1);
}

.preview-frame.selected-preview {
    border-width: 3px;
    padding: 4px;
    background-clip: content-box;

    transform: scale(1.0);
}

.preview-canvas {
    display: block;
    border-radius: 10px;

    width: 70px;
    height: 70px;
}

.preview-frame img {
    position: absolute;
    top: 6px;
    right: 15px;
    pointer-events: auto;

    visibility: hidden;
}

.settings-icon {
    cursor: pointer;
}

.preview-frame.selected-preview img {
    visibility: visible;
}

#context-menu {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
    color: #1f194c;
    padding: 10px;
    font-size: 25px;
    position: fixed;
    visibility: hidden;
    border-radius: 20px;
}

.item {
    padding: 5px;
}

.item:hover {
    background-color: rgba(44, 141, 247, 0.2);
    cursor: pointer;
}

.control-buttons {
    width: 250px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.control-buttons button img {
    width: 37px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(9%) saturate(680%) hue-rotate(227deg) brightness(90%) contrast(93%);
    margin-top: 5px;
}

.control-buttons button {
    width: 60px;
    height: 60px;
}

.control-buttons button:active img {
    transform: scale(1.1);
}

#export-button {
    margin-top: 20px;
    margin-right: 20px;
}